.blocks {
    justify-content: center;
    align-items: center;
    align-content: center;
}


.block_items {
    /* margin-bottom: 24px; */
    margin: 10%;
    align-items: center;
    align-content: center;
}